<ion-view view-title="Resultado">
  <ion-content class="padding rf-scroll-content">
  	Resultado
  </ion-content>
	
	<br /> 			

  <div class="card">
      <div class="item item-text-wrap {{classColorCard}}">
        <h1>Resultado: {{resultado}}</h1>

        <h2>Classificação:</h2>
        <h1>{{resultadoClassificacao}}</h1>
          <p><b>Dica:</b> {{dica}}</p>
      </div>
   </div>
   
   <div class="row">
      <button class="button button-block button-positive" ng-click="novoTeste()">
          NOVO TESTE
      </button>
    </div>
</ion-view>