/* Empty. Add your own CSS if you like */
.color-card-green {
	background-color: #66CC33;
}

.color-card-red {
	background-color: #EF4E3A;
}

.color-card-orange {
	background-color: #F0B840;
}

.color-card-yellow {
	background-color: #FCF4AB;
}

.rf-icon-title {
    position: fixed;
}

.rf-scroll-content {
    background-color: rgba(56,126,245, 0.3);
}